<h1>Main Dashboard</h1>

<p><%= link_to "Contacts", contacts_path %></p>
<p><%= link_to "Leads", leads_path %></p>
<p><%= link_to "Employees", employees_path %></p>
<p><%= link_to "Products", products_path %></p>
<p><%= link_to "Translations", translations_path %></p>