<div class="container-fluid">
  <h1>Employees</h1>

  <hr/>

  <div class="button-wrap">
    <%= button_to "Add New Employee", new_employee_path, method: :get, class: "btn btn-primary" %>
  </div>

  <% @employees.each do |employee| %>
    <div class="card mb-3" id="employee_<%= employee.id %>">
      <div class="row g-0">
        <div class="col-md-4">
          <% if employee.avatar.attached? %>
            <%= image_tag(employee.avatar.variant(:small), class: "img-fluid rounded-start") %>
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="card-body" style="padding-bottom: 45px;">
            <div class="card-details">
              <h5 class="card-title"><%= "#{employee.job} - #{employee.name}" %></h5>
              <p><span class="bi-telephone card-icon"></span><%= employee.contact_number %></p>
              <p><span class="bi-envelope card-icon"></span><%= employee.email %></p>
              <p><strong>Introduction</strong></p>
              <p><%= employee.introduction %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-actions">
        <div class="btn-group float-end" role="group">
          <%= button_to "Edit", edit_employee_path(employee), class: "btn btn-primary btn-sm float-end", form: {style: 'margin-right: 5px'}, method: :get  %>
          <%= button_to "Destroy", employee_path(employee),
                          class: "btn btn-danger btn-sm float-end",
                          method: :delete,
                          remote: true,
                          data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
  <% end %>
</div>