<h1>Employee</h1>

<p>Name: <%= @employee.name %></p>

<% if @employee.avatar.attached? %>
  <image src="<%= url_for(@employee.avatar) %>">
<% end %>

<p>Calendar ID: <%= @employee.calendar_id %></p>
<p>Job: <%= @employee.job %></p>
<p>Contact Number: <%= @employee.contact_number %></p>
<p>Introduction: <%= @employee.introduction %></p>

<ul>
  <li><%= link_to "Edit", edit_employee_path(@employee) %></li>
  <li><%= link_to "Destroy", employee_path(@employee),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>