<%= turbo_frame_tag translation do %>
	<%= form_with model: translation do |form| %>

		<div class="row">
		
			<div class="col-sm-4">
				<div class="column1-item">
					<%= form.text_area :name, class: "form-control" %>
					<% translation.errors.full_messages_for(:name).each do |message| %>
						<div><%= message %></div>
					<% end %>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="column2-item">
					<%= form.text_area :translated_as, class: "form-control" %>
					<% translation.errors.full_messages_for(:translated_as).each do |message| %>
						<div><%= message %></div>
					<% end %>
				</div>
			</div>
			
			<div class="col-sm-3">
				<%= form.submit class: "btn btn-primary float-end" %>
			</div>
			
		</div>
		
	<% end %>

<% end %>
