<div class="central-form">
  <h1>Leads Search</h1>

  <%= form_tag leads_path, method: :get do %>
    <div class="input-group mb-3">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Email" %>
    
      <%= submit_tag('Find Lead', name: nil, class: "btn btn-primary")  %>
    </div>
  <% end %>

  <% if @leads %>
    <table class="table">
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Link</th>
      </tr>
      <% @leads.each do |l| %>
        <tr>
          <td><%= l.full_name %></td>
          <td><%= l.email %></td>
          <td><%= button_to "Show Lead", lead_path(l.id), method: :get, class: "btn btn-primary float-end" %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>