<h1>Show Lead</h1>

<% if @lead %>
  <table class="table">
    <tr>
      <th>Full Name</th>
      <td><%= @lead.full_name %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @lead.email %></td>
    </tr>
  </table>

  <h2>Email Lead</h2>

  <%= form_tag(send_email_lead_path) do -%>
    <%= hidden_field_tag 'id', @lead.id %>

    <div class="mb-3 row">
      <%= label_tag(:start_time, 'Start Time', class: 'col-sm-2 col-form-label') %>
      <div class="col-sm-10">
        <%= select_tag "start_time", options_for_select(1..24, 8), class: 'form-select form-select-lg mb-3' %>
      </div>
    </div>

    <div class="mb-3 row">
      <%= label_tag(:appointment_duration, 'Appointment Duration', class: 'col-sm-2 col-form-label') %>
      <div class="col-sm-10">
        <%= select_tag "appointment_duration", options_for_select(1..24, 4), class: 'form-select form-select-lg mb-3' %>
      </div>
    </div>

    <%= label_tag(:test, 'Test Email?') %>
    <%= check_box_tag 'test' %>


    <div><%= submit_tag 'Save', class: "btn btn-primary" %></div>
  <% end -%>

  <h2>Book Installation</h2>

  <%= form_tag(book_appointment_lead_path) do -%>
    <%= hidden_field_tag 'id', @lead.id %>

    <div class="mb-3 row">
      <%= label_tag(:employee_id, 'Employee', class: 'col-sm-2 col-form-label') %>
      <div class="col-sm-10">
        <%= select_tag "employee_id", options_from_collection_for_select(Employee.all, :id, :name), class: 'form-select' %>
      </div>
    </div>
    

    <div class="mb-3 row">
      <%= label_tag(:start_time, 'Start Time', class: 'col-sm-2 col-form-label') %>
      <div class="col-sm-10">
        <%= select_tag "start_time", options_for_select(1..24, 8), class: 'form-select form-select-lg mb-3' %>
      </div>
    </div>

    <div class="mb-3 row">
      <%= label_tag(:appointment_duration, 'Appointment Duration', class: 'col-sm-2 col-form-label') %>
      <div class="col-sm-10">
        <%= select_tag "appointment_duration", options_for_select(1..24, 4), class: 'form-select form-select-lg mb-3' %>
      </div>
    </div>

    <div><%= submit_tag 'Book Installation', class: "btn btn-primary" %></div>
  <% end -%>
<% end %>
