
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-7">
      <h1>Lead</h1>
    </div>

    <div class="col-sm-5" style="position: relative;">
      <%= link_to(
          'Open in CRM',
          @lead.link_address,
          target: "_blank",
          class: "btn btn-sm btn-success",
          style: "position: absolute; bottom: 8px; right: 10px;"
        )
      %>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-sm-6">

      <table class="table">
        <tr>
          <th>Full Name</th>
          <td><%= @lead.full_name %></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><%= @lead.email %></td>
        </tr>
        <tr>
          <th>Water Softener</th>
          <td><%= @lead.water_softener_model %></td>
        </tr>
        <tr>
          <th>Water Softener Warranty</th>
          <td><%= @lead.softener_warranty_details %></td>
        </tr>
        <tr>
          <th>Packs of Block Salt</th>
          <td><%= @lead.salt_quantity %></td>
        </tr>
        <tr>
          <th>Installation Type</th>
          <td><%= @lead.installation_type %></td>
        </tr>
        <tr>
          <th>Drinking Tap</th>
          <td><%= @lead.drinking_taps %></td>
        </tr>
        <tr>
          <th>Drinking Water Filter</th>
          <td><%= @lead.drinking_water_filter %></td>
        </tr>

        <tr>
          <th>To be installed by</th>
          <td><%= @lead.installed_by %></td>
        </tr>
      </table>
    </div>

    <div class="col-sm-6">
      <div data-controller="map" data-action="google-maps-callback@window->map#initializeMap" data-map-post-code-value="<%= @lead.zip_code %>">
        <div id="map" style="height: 400px; width: 100%; background: green;"</div>
      </div>
    </div>
  </div>

  <hr/>

  <div class="row">

      <h2>Installation Details</h2>

      <% if @appointment && @appointment.errors %>
        <div class="alert alert-danger" role="alert">
          <p>Unable to book installation due to the following errors:</p>
          <ul>
            <% @appointment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @errors.any? %>
        <div class="alert alert-danger" role="alert">
          <p>Unable to book installation due to the following errors:</p>
          <ul>
            <% @errors.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @installer.present? %>

        <%= form_tag(book_appointment_lead_path) do -%>
          <%= hidden_field_tag 'id', @lead.id %>

          <div class="row">
            <%= label_tag(:start_time, 'Start Time', class: 'col-sm-3 col-form-label') %>
            <div class="col-sm-9">
              <%= time_field_tag "start_time", @installer.preferred_start_time.to_formatted_s(:time) %>
            </div>
          </div>

          <div class="row">
            <%= label_tag(:appointment_duration, 'Appointment Duration', class: 'col-sm-3 col-form-label') %>
            <div class="col-sm-9">
              <%= select_tag "appointment_duration", options_for_select(1..24, 4), class: 'form-select form-select-lg mb-3' %>
            </div>
          </div>

          <div class="row">
            <%= label_tag(:email_from, 'Email From', class: 'col-sm-3 col-form-label') %>
            <div class="col-sm-9">
              <%=
                select_tag "email_from",
                options_for_select(Employee.internal.pluck(:email), ENV.fetch('EMAIL_DEFAULT_FROM_ADDRESS')),
                class: 'form-select form-select-lg mb-3'
              %>
            </div>
          </div>

          <div class="row">
            <%= label_tag(:test, 'Run Test', class: 'col-sm-3 col-form-label') %>
            <div class="col-sm-9">
              <%= check_box_tag 'test', 'yes', true %>
            </div>
          </div>

          <hr/>

          <h2>Actions</h2>

          <div class="row">
            <h4>Quotation</h4>
            <div class="col-sm-6">
              <div><%= submit_tag 'Preview Quotation Email', class: "btn btn-primary", formaction: quotation_email_lead_path, formmethod: :get %></div>
            </div>
            <div class="col-sm-4">
              <div><%= submit_tag 'Send Quotation', class: "btn btn-success", formaction: send_quotation_lead_path %></div>
            </div>
          </div>

          <h4>Book Installation</h4>

          <div class="row">
            <div class="col-sm-6">
              <div><%= submit_tag 'Preview Installation Email', class: "btn btn-primary", formaction: installation_email_lead_path, formmethod: :get %></div>
            </div>
            <div class="col-sm-6">
              <div><%= submit_tag 'Book Installation', class: "btn btn-success" %></div>
            </div>
          </div>
        <% end %>

      <% end %>
  </div>
</div>