<p style='padding: 0px; margin: 0px'>
  <span style='color: rgb(0, 0, 0); font-family: Latoregular, sans-serif; font-size: medium; letter-spacing: 0.1px; padding: 0px; margin: 0px'>
    Kind Regards,&nbsp;
  </span>
  <br style='color: rgb(0, 0, 0); font-family: Latoregular, sans-serif; font-size: medium; letter-spacing: 0.1px; background-color: rgb(233, 241, 244); padding: 0px; margin: 0px'>
  <span style='color: rgb(0, 0, 0); font-family: Latoregular, sans-serif; font-size: medium; letter-spacing: 0.1px; background-color: rgb(233, 241, 244); padding: 0px; margin: 0px'>
  </span>
</p>
<div data-zbluepencil-ignore='true' id='ecw_signature'>
  <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="color: rgb(255, 255, 255); font-size: medium; background-color: rgb(255, 255, 255); font-family: Arial">
    <tbody>
      <tr><td>
      <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="font-size: medium">
        <tbody>
          <tr><td style="padding: 0px; vertical-align: middle">
          <h3 class="sc-fBuWsC eeihxG" style="color: black; margin: 0px; font-size: 18px"><%= employee.name %></h3>
          <p class="sc-dVhcbM fghLuF" style="color: black; margin: 0px; font-size: 14px; line-height: 22px"><%= "#{employee.job} | UK Water Softeners" %></p>
          <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="font-size: medium; width: 299.641px">
            <tbody>
              <tr><td height="30"></td></tr>
              <tr><td height="1" class="sc-jhAzac hmXDXQ" style="width: 299.641px; border-bottom: 1px solid rgb(242, 84, 125); border-left: none; display: block"></td></tr>
              <tr><td height="30"></td></tr>
            </tbody></table><table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="font-size: medium">
            <tbody>
              <tr height="25" style="vertical-align: middle"><td width="30" style="vertical-align: middle">
                <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="font-size: medium">
                  <tbody>
                    <tr><td style="vertical-align: bottom"><span class="sc-jlyJG bbyJzT" style="display: block; background-color: rgb(242, 84, 125)"><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/phone-icon-2x.png" width="13" class="sc-iRbamj blSEcj" style="display: block"></span></td></tr>
                  </tbody>
                </table>
                </td>
                <td style="padding: 0px"><a href="tel:07899895152" class="sc-gipzik iyhjGb" style="color: rgb(0, 0, 0); font-size: 12px"><%= employee.contact_number %></a></td>
              </tr><tr height="25" style="vertical-align: middle"><td width="30" style="vertical-align: middle">
                <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="font-size: medium">
                  <tbody>
                    <tr><td style="vertical-align: bottom"><span class="sc-jlyJG bbyJzT" style="display: block; background-color: rgb(242, 84, 125)"><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/email-icon-2x.png" width="13" class="sc-iRbamj blSEcj" style="display: block"></span></td></tr>
                  </tbody>
                </table>
                </td><td style="padding: 0px"><a href="mailto:<%= employee.email %>" class="sc-gipzik iyhjGb" style="color: rgb(0, 0, 0); font-size: 12px"><%= employee.email %></a></td>
              </tr><tr height="25" style="vertical-align: middle"><td width="30" style="vertical-align: middle">
              <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="font-size: medium">
                <tbody>
                  <tr><td style="vertical-align: bottom"><span class="sc-jlyJG bbyJzT" style="display: block; background-color: rgb(242, 84, 125)"><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/link-icon-2x.png" width="13" class="sc-iRbamj blSEcj" style="display: block"></span></td></tr>
                </tbody>
              </table>
              </td><td style="padding: 0px"><a href="https://www.uk-water-softeners.co.uk/" class="sc-gipzik iyhjGb" style="color: rgb(0, 0, 0); font-size: 12px">https://www.uk-water-softeners.co.uk/</a></td></tr><tr height="25" style="vertical-align: middle"><td width="30" style="vertical-align: middle">
              <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="font-size: medium">
                <tbody><tr><td style="vertical-align: bottom"><span class="sc-jlyJG bbyJzT" style="display: block; background-color: rgb(242, 84, 125)"><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/address-icon-2x.png" width="13" class="sc-iRbamj blSEcj" style="display: block"></span></td></tr>
                </tbody>
              </table></td><td style="padding: 0px"><span style="font-size: 12px; color:rgb(0,0,0)">39 Frimley Green Road,&nbsp;Frimley, Camberley, Surrey, GU16 8AL</span></td></tr>
            </tbody>
          </table>
          <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="font-size: medium">
            <tbody><tr><td height="30"></td></tr>
            </tbody>
          </table><br></td></tr>
        </tbody>
      </table></td></tr>
    </tbody>
  </table>
</div>