<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <div>
      <p>Image To Go Here - (Banner) </p>
    </div>

    <h1><%= @lead.full_name %> Installation Letter</h1>

    <p><%= @lead.address %></p>
    
    <p><%= @lead.phone %></p>
    
    <p>Our plumber <strong><%= @installer.name %></strong> will be with you on between <strong><%= "#{@start_time.strftime("%I:%M")}-#{(@start_time + 30.minutes).strftime("%I:%M%P") }" %></strong><p>
    
    <div style="display: flex;">
      <div style="width:50%;border: 2px solid yellow;">
        <h2>Price - <%= @lead.total_cost %></h2>
        
        <p>Price Includes:</p>

        <ul>
          <li>VAT</li>
          <li><%= @lead.water_softener_model %> Water Softener</li>
          <li><%= @lead.softener_warranty_details %></li>
          <li><%= @lead.salt_quantity %> Packs of Block Salt</li>
          <li><%= @lead.installation_type %></li>
          <% if @lead.drinking_tap %>
            <li><%= @lead.drinking_tap%></li>
          <% end %>
          <% if @lead.drinking_water_filter %>
            <li><%= @lead.drinking_water_filter %></li>
          <% end %>
        </ul>
      </div>
      
      <div style="width:50%;border: 2px solid yellow;">
        <p>Image To Go Here</p>
        <p><%= url_for(@softener_image)%></p>
        <image src="<%= url_for(@softener_image)%>">
      </div>
    </div>

    <p>Extra notes:</p>
    
    <div style="display: flex;">
      <div style="width:50%;border: 2px solid yellow;">
        <p>Image To Go Here</p>
        <p><%= url_for(@installer.avatar)%></p>
      </div>

      <div style="width:50%;border: 2px solid yellow;">
        <h2>Meet your installer</h2>

        <p><%= @installer.name %></p>

        <p><%= @installer.introduction %></p>

        <p style="font-family:'Comic Sans MS', 'sans-serif'">
          Thank you for placing your business with us and please get in touch if you need anything.
        </p>
        <p style="font-family:'Comic Sans MS', 'sans-serif'">
          <strong>
            Enjoy your soft water!
          </strong>
        </p>
      </div>
    </div>
    
    <p>
      <strong>
        If you have any questions at all please do not hesitate to contact me.
      </strong>
    </p>

    <%= render "sarah_signature" %>

  </body>
</html>